body {
  color:#828282;
  background-color:#eee;
}

a:hover {
	color:#ff3333;
  	text-decoration:none;
}


h1 {
	font-family: 'Play', sans-serif;
	color: white;
}


div h1 {
	font-family: 'Play', sans-serif;
	color: black;
	text-align: center;
}


div {
	font-family: 'Play', sans-serif;
	color: black;
	font-size: 16px;
}




#preview {

	height: 300px;
	width: 500px;
	overflow: auto;

	margin:5px 0px; padding:0px;
	background-color: white;
	border: solid;
	border-radius: 10px;
	border-color: #dbddde;
	text-align: center;
	color: #2B332B;

}



.inputArea {
	margin:5px 0px; padding:0px;
	min-height: 2em;
	background-color: white;
	border: solid;
	border-radius: 10px;
	border-color: #dbddde;
	text-align: center;
	color: #2B332B;

}


#buttonDiv {
	float:left;
}


.btn {
	
	font-weight: bold;
}