.titleText {
	margin: 20px;
	font-size: 20px;
}

.articleText {
	margin: 20px;
	font-size: 15px;
}

.surroundText {
	background-color: white !important;
	margin-left: 2px;
	padding-bottom: 5px;
}

.descreet {
	color: silver;
}

.pictureCol {
	margin-top: 20px;

}

.picture {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.glyphicon-trash {
	margin-top: 20px;
	text-align: left;
}

