.commentSection{
	border-style: solid;
	border-width: 1px;
	width:700px;
	height:70px;
	margin: 0 auto;
	margin-top: 20px; 
}

.commentSection #name{
	float:left;
	color:red;
}

.commentSection #message{
	float:right;
	color:green;
}