

.userComment{
	font-size: 15px !important;
}

.userText {
	font-size: 15px !important;
	float:right;
	position: relative;
}

.glyphicon-menu-down {
	
	color: red;
}
#writeComment{
	margin: 0 auto;
	color: silver;
	font-size: 13px !important;
}

#showCommentsText {
	color: grey;
	font-size: 11px !important;

}

#comment {
	margin-bottom: 40px;
}

#user{
	float:left;
}



#commentBox{
	width:75%;
	background-color: #eee !important;
	padding: 50px;
    margin-left: auto;
    margin-right: auto;
    border:solid;
    border-color: #FF5C5C;
    border-width: 1px;

}


#commentInput{
	margin-top: 20px;
	width:60%;
	min-height: 200px;
	background-color: #eee !important;
	text-align: center;
	float: none;
	padding: 50px;
    margin-left: auto;
    margin-right: auto;
     border:solid;
    border-color: #FF5C5C;
    border-width: 1px;
}


#commentInput *{
	width:80%;
	text-align: center;
	float: none;
    margin-left: auto;
    margin-right: auto;

}

button {
	background-color: #FF5C5C !important;
	border-color: #FF5C5C !important;
}




