body { 
	padding-top: 70px;
	padding-bottom: 70px; 
	color:#828282;
    background-color:#eee;
	background-image: url("http://img.photobucket.com/albums/v487/Anorexiasphat619/Backgrounds/10.jpg");
}



.navbar-fixed-bottom{
	height: 15px;
	padding-top:0px !important; 
	padding-bottom:0px !important;
	background-color:#FF5C5C;
	min-height: 4em;
}



.navbar {
	min-height:50px !important;
	background-color:#FF5C5C;
    border:0;
  	border-radius:0;
  	color:white;
}


.navbar a {
	color: white !important;
}


.navbar li:hover {
	background-color:#eee;
}



.navbar a:hover {
	color: #FF5C5C !important;
}


.navbar a:active {
	background-color: #eee;
	color: #5CB8E6 !important;
}


.navbar a:focus {
	background-color: #eee !important;
	color: #5CB8E6;
}


.navbar-nav > li > a {
  	color:#fff;
  	padding-left:20px;
  	padding-right:20px;
  	border-left:1px solid #F04747;
}


.navbar-nav > li:last-child > a {
  	border-right:1px solid #F04747;
}


.navbar-nav .navbar-brand:hover {
	color: #eee !important;
	background-color: #5CB8E6;
}

.navbar-nav .navbar-brand:focus {
	background-color: #eee;
	color: #5CB8E6 !important;
}

.navbar-right {
    float: right !important;
    margin: 1%;

}


.glyphicon-list-alt {
 	color: #FF5C5C !important;
 }

.navbar-right  a:hover {
	
	color: #eee !important;
}



h1 {
	font-family: 'Play', sans-serif;
	color: #FF5C5C !important;
}


div h1 {
	font-family: 'Play', sans-serif;
	color: black;
	text-align: center;
}


div {
	font-family: 'Open Sans Condensed', sans-serif;
	color: black;
	font-size: 1.1em;
	text-align: center;
}


#copyText{
	color: #eee;
	text-align: right;
	margin: 2em;
}


.carousel {
	width: 1000px;
	height: 200px;
	margin: 0 auto;
	text-align: center;
}


.carousel div {
	text-align: center;
	margin-bottom: 20px;
}


.carousel-control.left {
	background-image: linear-gradient(to right, transparent, #FF5C5C, transparent);
    background-repeat: repeat-x;
    margin-top: auto;
	height: 30px;
}


.carousel-control.right{
	background-image: linear-gradient(to left, transparent, #FF5C5C, transparent);
    background-repeat: repeat-x;
    height: 30px;
    margin-top: auto;
}



.carousel-indicators {

}


.carousel-indicators li {
background-color: #FF5C5C;
height: 20px;
}


.carousel-indicators .active {
  background-color: #eee;
  height: 25px;
}


.fullArticle {
	margin: 0 auto;
	margin-top: 300px; 
	background-color: #eee !important;
	text-align: center;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}


#commentBox {
	margin: 0 auto;
	margin-top: 20px; 
	background-color: #eee !important;
	text-align: center;
}


#commentBox * {

}

#previewArea {
	width:100%;
	background-color: #eee !important;
	text-align: center;
	float: none;
	padding: 50px;
    margin-left: auto;
    margin-right: auto;
}

