<!DOCTYPE HTML>
<html ng-app="articleModule">

<head>
	<meta charset="utf-8">
	<script type="text/javascript" src="../script/jquery_v213.js"></script>
	<script type="text/javascript" src="../script/angular.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!--
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
 	-->

	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
		</script>
	<link rel="stylesheet" type="text/css" href="../css/addArticle.css">
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.0/angularfire.min.js"></script>
	<!-- Base64 -->
	<script src="angularbase64/dist/angular-base64-upload.js"></script>

	


	


	<link rel="import" href="../html/addArticleContainer.html">
	<link rel="import" href="../html/articleList.html">
	<link rel="stylesheet" href="../css/articleList.css">
	
</head>

<body>
	<div class="container">
		<ul class="nav nav-pills">
  
			
			<li role="presentation" class="enabled"><a href="../html/index.html">Logout</a></li><br><div class="page-header">ADMIN MODE</div>

  
		</ul>



		<div id="test" ng-controller="SwitchController">
			<button class="btn btn-success"  ng-click="switchTo('Create')" >Create Article</button>
			<button class="btn btn-danger" ng-click="switchTo('Remove')">Remove Article/Comment</button>
			

			<div ng-switch on="selection">
				<div ng-switch-when="Remove">
					<div ng-include="'articleList.html'"></div></div>
					 
				<div ng-switch-when="Create">
					<div ng-include="'addArticleContainer.html'"></div>
					 
					
				</div>


				
			</div> 
		</div>



		
		
		

		
	</div>
	<script type="text/javascript" src="../script/SwitchController.js"></script>
	<script type="text/javascript" src="../script/managerModule.js"></script>
	<script type="text/javascript" src="../script/articleModule.js"></script>

	<script type="text/javascript" src="../script/ArticleClass.js"></script>


</body>

</html>