
		
		<div class="page-header">Create article</div>
		<div class="row" ng-controller="articleController">
			

			<div class="col-md-1">
				
			</div>

			<div class="col-md-4">

				<h2>Article input</h2>

				Heading:<br> <input type="text" ng-model="heading" class="inputArea"><br><br>
				
			    <input id="imageFileName" ng-change="showImage()" ng-model="photo" type="file" accept="image/*" base-sixty-four-input/><br>
		        <img id="imagePreview" style="max-width:100px;" base-sixty-four-image="photo"/>
		        
				<br>

				Author:<br>
				<input class="inputArea" type="text" ng-model="author"><br>

				Text: <br> <textarea rows="5" cols="30" ng-model="text" class="inputArea"></textarea><br>

				<div id="buttonDiv">
					<button class="btn btn-warning">Cancel</button>
					<button class="btn btn-success" ng-click="addArticle()">Create</button>
					
				</div>
				

			</div>
			<!--Preview column-->
			<div class="col-md-4">
				<h2>Article preview</h2>
				<div id="preview">
						
					<h3>{{heading}}</h3>
					<div>{{text}}</div>
				</div>
			</div>
		</div>