



		
<div ng-controller="articleController">
	<div class="row" ng-repeat="article in articleList">	
		<div class="col-sm-5">
			<div class="surroundText">
				<div class="titleText">
					<span class="descreet">Titel:</span>
					{{article.heading}}
				</div>
				<div class="articleText">
					<span class="descreet">Artikel:</span> 
					{{article.text}}	
				</div>
				<div style="margin:15px; padding:2px;">
					<button type="button" class="btn btn-primary" ng-click="commentsExpanded = !commentsExpanded">Comments <span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-plus': !commentsExpanded, 'glyphicon-minus' : commentsExpanded}" ></span>
					</button>
				</div>
				<div ng-show="commentsExpanded" style="margin:20px; padding:5px; border-style:solid; border-width:1px; border-radius:10px; border-color:silver; overflow:auto;" ng-repeat="com in getCommentsList(article.$id)">
					<p><span class="descreet">{{com.name}}</span> Says....</p><br>
					{{com.message}}
					<button class="btn btn-danger pull-right" ng-click="removeComment(article.$id,com.$id)">Remove</button>
				</div>
			</div>
		</div>
		<div class="col-sm-5 pictureCol">
			<!--IMAGES are fetched by adding value of key "imageURL" from each article with base64 string
			Basically så ska man mata in base64 strängen som bindning innanför {{}} direktivet så src-attributet kan utvärderas som ett uttryck.
			Innan hade vi försökt göra ett uttryck av data-ng-src="'data:image/gif;base64, ' + {{article.imageURL}}", men då låg strängen och + operatorn utanför direktivet (måsvingarna) som kan ta emot uttryck; Ska man skriva ett uttryck genom angular i sitt html-dokument måste det ske innanför {{}}
			-->
			<img class="picture" data-ng-src="{{getImage(article.imageURL)}}"  style="max-height:200px;"/>
		</div>
		<div class="col-sm-2">
			<span class="glyphicon glyphicon-trash" ng-show="true" ng-click="removeArticle($index)"></span>
		</div>
	</div>	
</div>
					
		
