<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
		<!-- AngularFire -->
		<script src="https://cdn.firebase.com/libs/angularfire/1.1.0/angularfire.min.js"></script>
		<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
	</head>
	<body ng-app="ui.bootstrap.demo" ng-controller="CarouselDemoCtrl">
		<div class="container">
			<div class="page-header"><h2>News!</h2></div>
			<div style="height:200px; width:300px; margin:0 auto; float:none; overflow:auto;" class="span4">
  				<carousel>
      				<slide ng-repeat="article in articles" active="article.active">
       	 				<div style="height:200px;" class="span12" ng-click="showDetailView(article.text)"> 
       	 					<h1>{{article.heading}}</h1>
       	 					<p>{{getFirstLine(article.text)}}</p>
        				</div>
      				</slide>
    			</carousel>
  			</div>
  			<div style="overflow:hidden; height:auto;" class="ng-cloak" ng-show="showArticleDetails" ng-click="hideDetailView()">
  				<img style="float:left; margin:3px;" src="../images/sun.jpeg"/>
    			{{articleDetails}}
    		</div>
  		</div>
		<script type="text/javascript" src="bootstrapUI/ui-bootstrap-tpls-0.12.1.js"></script>		
		<script type="text/javascript" src="../script/slider5.js"></script>
	</body>
</html>