
	
	<!-- 
		
			
			<div class="row">
				<div class="col-sm-1">	
				</div>	
				<div class="col-sm-11">
					<p id="writeComment">Lägg till en kommentar</p>
				</div>	
			<div class="row">
				<div class="col-md-1">
					<span class="glyphicon glyphicon-user">
				</div>	
				<div class="col-sm-2">
					<input type="text" ng-model="comments.nameInput">
				</div>	
			</div>		
			<div class="row">	
				<div class="col-sm-1">
					<span class="glyphicon glyphicon-comment"></span>
				</div>
				<div class="col-sm-11">
					<textarea rows="5" cols="40" type="text" ng-model="comments.commentInput"></textarea>
				</div>	
			</div>
			<div class="row">	
				<div class="col-sm-1"><p></p></div>
				<div class="col-sm-11">
					<button class="btn btn-info btn-xs" ng-click="addComment()">
						<span class="glyphicon glyphicon-send"></span>
					</button>
				</div>	
			</div>
		</div> -->

	<div class="row">
	<!--	<div class="col-sm-1"></div>
		<div class="col-sm-10"> -->
			<div id="commentInput">


					<p id="writeComment">Lägg till en kommentar</p>
				
				
						<span class="glyphicon glyphicon-user"><br>
				
						<input type="text" id="nameField" ng-model="commentAuthor" placeholder="Namn" style="width:300px;">
				
					<span class="glyphicon glyphicon-comment"></span>
				
				
					<textarea rows="5" cols="30" type="text" id="commentField" placeholder="Kommentar" style="width:300px;" ng-model="commentMessage"></textarea>
				
				
					<button class="btn btn-info btn-xs" ng-click="addComment(commentAuthor, commentMessage)">
						<span class="glyphicon glyphicon-send"></span>
					</button>
	
			</div>
	
	<div class="row" ng-click="showComments()">
		<p id="showCommentsText">Visa kommentarer</p>
		<div class="col-sm-4"><span class="glyphicon glyphicon-menu-down"></span></div>
		<div class="col-sm-4"><span class="glyphicon glyphicon-menu-down"></span></div>
		<div class="col-sm-4"><span class="glyphicon glyphicon-menu-down"></span>	</div>		
	</div>
			
	
	<div id="comment" ng-show="isVisual">
		<div id="commentBox" ng-repeat="com in articleComments" >
			

			<div class="row">
					<div class="col-sm-1">
						<span class="glyphicon glyphicon-user"></span>
					</div>
					<div class="col-sm-8 text-left">
						<p class="userComment">{{com.name}}</p>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-1">
						<span class="glyphicon glyphicon-comment"></span>
					</div>
					<div class="col-sm-8 text-left">
						<p class="userComment">{{com.message}}</p>
					</div>					
				</div>
				

		</div>
		</div>	

