

<table class="table table-striped">
  <thead><tr>
    
    <th>Name</th>
    <th style="float:right">Comment</th>
  </tr></thead>
  <tbody><tr ng-repeat="com in articleComments">
    
    <td id="name">{{com.name}}</td>
    <td id="message">{{com.message}}</td>
  </tr></tbody>
</table>
