
	<!DOCTYPE html>
	<html>
		<head>
		<meta charset="utf-8">	

			
		<!--SCRIPTS-->
			<!--jQuery-->
				
			<!--Angular-->
				<script type="text/javascript" src="../script/angular.js"></script>
				<script src="https://cdn.firebase.com/libs/angularfire/1.1.0/angularfire.min.js"></script>
			<!--Firebase-->
				<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
				
			
			<!--Bootstrap-->
				
				<script src="bootstrapUI/ui-bootstrap-tpls-0.12.1.js"></script>

			<!--AngularModules-->
				<script src="../script/managerModule.js"></script>
				<script src="../script/mainModule.js"></script>
				<script src="../script/comments.js"></script>
				<script src="../script/articleList.js"></script>
				<script src="../script/SwitchController.js"></script>
				<script src="angularbase64/dist/angular-base64-upload.js"></script>
				
				<script src="../script/carouselModule.js"></script>
				

		<!--CSS/STYLES-->
			
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
			<link rel="stylesheet" href="../css/index.css">
			<link rel="stylesheet" href="../css/comments.css">
					
			
			
			<!--adminSite-->
				
				
			<!--index-->
				
				
			<!--comments-->
			
			
		
		<!--Documents/HTML-->
			<link rel="import" href="../html/comments.html">
		
		 



			

		</head>
		<body ng-app="mainModule">
			<nav class="navbar navbar-inverse navbar-fixed-top">
		  		<div class="container-fluid">
					<a class="navbar-toggle" data-target=".nav-collapse" data-toggle="collapse">
	        			<span class="glyphicon glyphicon-chevron-down"></span>
	     			</a>

		    		<div class="navbar-collapse">
		    			<ul class="nav navbar-nav">  
		     				<!-- Brand and toggle get grouped for better mobile display -->
		     		 		<a class="navbar-brand" href="#">Newsie</a>
		    	 		</ul>

						<ul class="nav navbar-right navbar-nav">
							<a href="../html/addArticle.html"><i class="glyphicon glyphicon-user"></i> Login</a>
						</ul>
					</div>
		    	</div>
			</nav> 

			<!--MAIN CONTENT CONTAINER
				ng-app directive can only be used to bootstrap 1 angular app/module in the same document
				if we want div modules in the same template/html document we have to use angular.bootstrap(element, ["modules to load"]) through scripts after the html elements have been written-->
			<div class="container">
				

				<div class="jumbotron">
					<div class="col-sm-1"><span class="glyphicon glyphicon-list-alt">Our News</span></div>
				</div>


				<div id="row myCarousel" class="carousel slide" data-ride="carousel" ng-controller="CarouselDemoCtrl">
					<div class="row">
						<carousel>
				    			<ol class="carousel-indicators"></ol>
		      				<slide ng-repeat="article in articles | reverseArray" active="article.active">
			       	 			<div style="height:200px;"> 
		       	 						<h1>{{article.heading}}</h1>
		       	 						<p>{{getFirstLine(article.text)}}</p>
			        			</div>
		      				</slide>
		    			</carousel>
		    		</div>
	  	

		    		<div class="fullArticle" style=" margin-top:30px; clear:both;">								
							<div ><span class="glyphicon glyphicon-list-alt"></span></div>

								<div class="row" id="previewArea">
									<div>
										<h1>{{articleHeading}}</h1>	
									</div>
									<div>
										<p>{{articleDetails}}</p>
									</div>
									<div>
										<img style=" margin:3px; max-width:500px; max-height:200px;" data-ng-src="{{articleImage}}"/> 	
									</div>
									<div>
										<p>{{articleAuthor}}</p>
									</div>	
								</div>
								<div class="row commentBox" style="clear:both;">
									<div ng-controller="mainController">
										<div id="foo" ng-controller="inputCtrl" ng-include="'comments.html'" ></div>
									</div>	
								</div> 
		    		</div>  
	    		</div> <br>

			</div>

		
				<!--loads carouselModule for the div with class name "carousel"-->
				<!--<script >var ele = $(".carousel");angular.bootstrap(ele, ["carouselModule"]);</script>-->
				
					
				
					

						
					
					
				
				<!--<script >var ele = $(".commentSection"); angular.bootstrap(ele, ["addArticle"]);</script>-->			
					
				
				
		
			

	<nav class="navbar-sm navbar-inverse navbar-fixed-bottom">
	  	<div class="container-footer">
	    	<p id="copyText"> &copy; Grupp 3</p>
	  	</div>
	</nav>
		</body>
	</html>